.button1 {
    background-color: green;
}

.button2 {
    background-color: cyan;
}

.button3 {
    background-color: red;
}

.button4 {
    background-color: pink;
}

.button5 {
    background-color: yellow;
}