body {
  text-align: center;
  font-family: Arial;
  background-color: white;
  border: 15px solid orange;
  padding: 20px;
}

h1 {
  color: red;
  font-size: 50px;
  margin: 10px;
}

h2 {
  color: black;
}

table {
  border-collapse: collapse;
  margin: 20px;
  width: 90%;
}

th, td {
  border: 2px solid orange;
  padding: 10px;
  background-color: #fffacd;
}

th {
  background-color: yellow;
}