body {
  background-color: #00aaff;
  font-family: Arial;
}

.table-container {
  width: 300px;
  margin: 50px auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #222;
  color: white;
  padding: 12px;
  text-align: left;
}

td {
  padding: 12px;
  border-top: 1px solid #ccc;
  text-align: left;
}