body {
    background-image: url("https://images.unsplash.com/photo-1503264116251-35a269479413");
    background-position: center;
    background-repeat: no-repeat;
}

.body1 {
background-image: url("https://images.unsplash.com/photo-1503264116251-35a269479413");
background-size: cover;
background-repeat: no-repeat;
background-position: center; 
}