* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 40px;
  border-radius: 25px;
  box-shadow: 0 10px 25px rgba(6, 6, 6, 0.1);
  width: 400px;
}

.card {
  text-align: center;
}

.inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 10px;
  color: gray;
  margin-bottom: 4px;
  text-transform: uppercase;
}

input {
  width: 60px;
  text-align: center;
  padding: 6px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
}

.arrow-btn {
  background: #a07cfb;
  color: white;
  border: none;
  font-size: 20px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: 0.3s;
}

.arrow-btn:hover {
  background: #8759f5;
}

.result {
  margin-top: 20px;
  text-align: left;
  font-size: 26px;
  line-height: 1.5;
}

.purple {
  color: #8759f5;
  font-weight: bold;
}