.p1, .p1, .p3, .p4 {
  transition: all 2s;
}

.p1:hover {
  font-size: 30px;
  color: red;
}

.p2:hover {
  font-size: 40px;
  color: red;
}

.p3:hover {
  font-size: 50px;
  color: blue;
}

.p4:hover {
  font-size: 60px;
  color: blue;
}

.my-link:link {
  color: black;
}

.my-link:visited {
  color: green;
}

.resize-img {
  width: 100px;
  transition: width 0.5s;
}

.resize-img:hover {
  width: 200px;
}

h1 {
  transition: all 0.3s;
}

h1:hover {
  font-size: 40px;
  background-color: red;
}

h1:active {
  color: blue;
}

.img1, .img2, .img3 {
  width: 100px;
  transition: width 0.5s;
}

.img1:hover {
  width: 50px;
}

.img2:hover {
  width: 75px;
}

.img3:hover {
  width: 100px;
}

h2:hover,
p:hover,
button:hover,
a:hover {
  font-family: 'Pacifico', cursive;
}
