body {
    font-family: Arial, sans-serif;
    background: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.pricing-container {
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.1);
    text-align: center;
    width: 900px;
}

.pricing-title {
    font-size: 28px;
    margin-bottom: 20px;
    color: #4e4d4d;
}

.toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 14px;
    margin-bottom: 30px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 22px;
}

.slider {
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 34px;
    transition: 0.4s;
}

.plans {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.plan {
    height: 300px;
    background: #ffffff;
    width: 30%;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}
.plan.active {
    background: linear-gradient(135deg, #7279c7, #5d58c4);
    color: white;
    height: 350px;
}

.plan.active .btn {
    background: white;
    color: #5d71f2;
}

.plan h3 {
    margin-bottom: 15px;
}

.price {
    font-size: 50px;
    margin: 10px 0;
    font-weight: bold;
}

.plan ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    font-size: 14px;
    line-height: 1.8;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 14px;
    text-decoration: none;
    background: #6a7dff;
    color: #fff;
}