.container {
    background-color: rgb(255, 0, 0);
    width: 1000px;
    padding: 20px;
  }
  
  .container img {
    width: 50%; 
  }











  .responsive-image {
    width: 25vw;    
    height: 50vh; 
  }
  